* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vw;
  margin: 0;
  font-family:
    'Gabin',
    'Unbounded' sans-serif;
  position: relative;
  overflow-x: hidden;
  background-color: #ffffff;
}
/* body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500vw;
  background-image: url('../images/1920x1080.png');
  background-size: cover;
  background-position: top center;
  opacity: 0.2;
} */

/* секция 1  */
.section-1 {
  position: relative;
  overflow: hidden;
  height: 69.531vw;
  width: 100%;
  background-image: url('../images/background-01.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* цветы */
.flower-swap {
  position: absolute;
  width: 100.313vw;
  height: 23vw;
  bottom: 8vw;
  overflow: hidden;
}

.flower-img {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  visibility: hidden;
  animation: flower-swap 6s steps(1, end) infinite;
}

.f1 {
  animation-delay: 0s;
}
.f2 {
  animation-delay: 3s;
}

.stars {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  z-index: 0;
}

.star {
  position: absolute;
  height: auto;
  opacity: 0.4;
  cursor: pointer;
  animation: twinkle 6s ease-in-out infinite;
  animation-fill-mode: both;
  transition:
    filter 0.6s ease,
    opacity 0.6s ease;
}

.star.glow {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.9))
    drop-shadow(0 0 20px rgba(200, 180, 255, 0.8));
}

.star-1 {
  top: 10vw;
  left: 1vw;
  width: 2.2vw;
  animation-delay: -0.5s;
}
.star-2 {
  top: 15.6vw;
  left: 13.3vw;
  width: 1.2vw;
  animation-delay: -1.2s;
}
.star-3 {
  top: 16.7vw;
  left: 7.4vw;
  width: 0.99vw;
  animation-delay: -2.1s;
}
.star-4 {
  top: 22.1vw;
  left: 11.6vw;
  width: 2.6vw;
  animation-delay: -0.8s;
}
.star-5 {
  top: 21.6vw;
  left: 18.2vw;
  width: 0.99vw;
  animation-delay: -1.6s;
}
.star-6 {
  top: 30.2vw;
  left: 17.6vw;
  width: 1.094vw;
  animation-delay: -2.4s;
}
.star-7 {
  top: 34.4vw;
  left: 25.2vw;
  width: 1.719vw;
  animation-delay: -3s;
}
.star-8 {
  top: 23vw;
  left: 25vw;
  width: 3.281vw;
  animation-delay: -1.9s;
}

.star-9 {
  top: 34.4vw;
  right: 25vw;
  width: 1.719vw;
  animation-delay: -0.7s;
}
.star-10 {
  top: 23vw;
  right: 24.7vw;
  width: 3.281vw;
  animation-delay: -2.7s;
}
.star-11 {
  top: 30.3vw;
  right: 17.5vw;
  width: 1.1vw;
  animation-delay: -1.3s;
}
.star-12 {
  top: 22.4vw;
  right: 11.4vw;
  width: 2.5vw;
  animation-delay: -3.4s;
}
.star-13 {
  top: 21.7vw;
  right: 18vw;
  width: 0.99vw;
  animation-delay: -2.2s;
}
.star-14 {
  top: 15.5vw;
  right: 13.1vw;
  width: 1.25vw;
  animation-delay: -0.9s;
}
.star-15 {
  top: 16.5vw;
  right: 7.3vw;
  width: 1vw;
  animation-delay: -3.1s;
}
.star-16 {
  top: 9.6vw;
  right: 0.5vw;
  width: 2.604vw;
  animation-delay: -1.7s;
}

h1,
h2 {
  position: relative;
  z-index: 2;
  font-family: 'Gabin';
  text-shadow: 0 0 18px rgba(255, 255, 255, 0.25);
  animation: soft-pulse 6s infinite alternate ease-in-out;
}

h1 {
  font-size: 11.875vw;
  color: #ded1f8;
  margin-top: 3.4vw;
}

h2 {
  font-size: 4.896vw;
  color: #b7abf1;
  margin-top: -1vw;
}

.glow-text span {
  transition:
    0.3s ease color,
    0.3s ease text-shadow;
}

.glow-text span.dim {
  color: #ded1f85d;
  text-shadow: none;
}

.mimi {
  position: absolute;
  width: 25.625vw;
  height: 26.354vw;
  margin-top: 21vw;
  background: url('../images/Mimi-1.png') no-repeat center / contain;
}

.mimi:hover {
  width: 25.625vw;
  height: 26.354vw;
  background-image: url('../images/Mimi-2.png');
}

.mimi.bounce {
  animation: mimi-bounce 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.speech {
  position: absolute;
  right: 13.3vw;
  top: 19.9vw;
  width: 26.358vw;
  height: 17.409vw;
  background: url('../images/cloud-1.png') no-repeat center / contain;
}

.speech p {
  font-family: 'Unbounded';
  position: absolute;
  top: 4.5vw;
  left: 7.3vw;
  font-size: 1.406vw;
  color: #2b2b6b;
  font-weight: 600;
  line-height: 1.2;
}

.speech__btn {
  position: absolute;
  right: 2.3vw;
  bottom: 5.5vw;
  width: 3.5vw;
  height: 3.5vw;
  border: 0.305vw solid #5050d3;
  border-radius: 50%;
  background-color: #e4deff;
  padding: 0;
  display: flex;
  place-items: center;
  justify-content: end;
}

.speech__btn img {
  width: 2.379vw;
  height: 2.379vw;
}
.speech__btn {
  transition:
    background-color 0.2s ease,
    border-color 0.2s ease;
}

.speech__btn:hover {
  background-color: #aea7ff;
}

.speech__btn:active {
  background-color: #1f1482;
}

.speech {
  transition:
    opacity 0.6s ease,
    filter 0.6s ease;
}

.speech.is-hidden {
  opacity: 0;
  filter: blur(6px);
  pointer-events: none;
}

.speech.no-text p {
  opacity: 0;
}

/* секция 2  */
.section-2 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 54.5vw;
  background-image: url('../images/background-02.png');
  background-size: cover;
  background-position: center;
  display: flex;
}

.stones-cloud,
.stones-stars {
  position: absolute;
  inset: 0;
}

.stones-cloud {
  z-index: 2;
}
.stones-stars {
  z-index: 3;
  pointer-events: none;
}

.stone {
  position: absolute;
  height: auto;
  animation: stone-glow 3.5s ease-in-out infinite;
}
.stone-1 {
  --glow: #ffcd62;
}
.stone-2 {
  --glow: #fffee8;
}
.stone-3 {
  --glow: #d6efff;
}
.stone-4 {
  --glow: #d8d0ff;
}

.stone-1 {
  top: 0.3vw;
  left: 8.1vw;
  width: 8.48vw;
}
.stone-2 {
  top: 7.6vw;
  left: 31.7vw;
  width: 15.34vw;
}
.stone-3 {
  top: 33.3vw;
  left: 11.5vw;
  width: 14.429vw;
}
.stone-4 {
  top: 26.5vw;
  right: 20.6vw;
  width: 10.82vw;
}

.stone-star {
  position: absolute;
  width: 1.6vw;
  height: auto;
  opacity: 0.7;
  animation:
    twinkle 5s ease-in-out infinite,
    star-float 6s ease-in-out infinite;
}

.s1-1 {
  animation-duration: 5s, 7s;
}
.s1-2 {
  animation-duration: 5s, 6s;
}
.s2-1 {
  animation-duration: 5s, 8s;
}
.s2-2 {
  animation-duration: 5s, 6.5s;
}
.s2-3 {
  animation-duration: 5s, 7.5s;
}
/* позиции звёзд */
.s1-1 {
  top: 2.9vw;
  left: 15.7vw;
  animation-delay: -0.4s;
  width: 0.729vw;
}
.s1-2 {
  left: 10vw;
  top: 1vw;
  animation-delay: -1.1s;
  width: 0.729vw;
}

.s2-1 {
  top: 6.8vw;
  left: 36.6vw;
  animation-delay: -0.6s;
  width: 0.938vw;
}
.s2-2 {
  top: 11.4vw;
  left: 31.2vw;
  animation-delay: -1.5s;
  width: 1.926vw;
}
.s2-3 {
  top: 10vw;
  left: 46.5vw;
  animation-delay: -1.8s;
  width: 3.594vw;
}

.s3-1 {
  top: 38.4vw;
  left: 8.8vw;
  animation-delay: -0.7s;
  width: 2.24vw;
}
.s3-2 {
  top: 32.4vw;
  left: 14.4vw;
  animation-delay: -1.3s;
  width: 2.24vw;
}
.s3-3 {
  top: 37vw;
  left: 25.3vw;
  animation-delay: -2s;
  width: 3.281vw;
}

.s4-1 {
  top: 33.7vw;
  right: 31.1vw;
  animation-delay: -0.9s;
  width: 0.833vw;
}
.s4-2 {
  top: 25.1vw;
  right: 28.1vw;
  animation-delay: -1.6s;
  width: 1.25vw;
}
.s4-3 {
  top: 30.5vw;
  right: 20vw;
  animation-delay: -2.1s;
  width: 1.25vw;
}

.stone,
.stone-star {
  transition:
    opacity 0.6s ease,
    filter 0.6s ease,
    transform 0.6s ease;
}
.found {
  opacity: 0 !important;
  filter: blur(3px);
  transform: scale(0.9);
  pointer-events: none;
  animation: none !important;
}
/* секция 3 */
.section-3 {
  position: relative;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 83.177vw;
  background-image: url('../images/background-03.png');
  background-size: cover;
  background-position: center;
}
.hint-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.hint-overlay.active {
  display: flex;
}
.hint-modal {
  width: 40vw;
  height: 20vw;
  background: url('../images/tooltip-1.png') no-repeat center / contain;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3vw 4vw;
  text-align: center;
  color: #b5aaf0;
  font-size: 1.6vw;
  position: relative;
}

.hint-modal p {
  font-family: 'Unbounded';
  font-size: 1.4vw;
  line-height: 1.7vw;
  font-weight: 400;
  padding: 3vw;
}
.help-btn {
  position: absolute;
  right: 4.3vw;
  bottom: 18.2vw;
  width: 5.365vw;
  height: 5.365vw;
  border: 0.313vw solid #ffffff;
  border-radius: 50%;
  background: #1f1482;
  display: grid;
  place-items: center;
  padding: 0;
  cursor: pointer;
  z-index: 10;
}

.help-btn img {
  width: 2vw;
  height: auto;
  display: block;
}
.item.swing {
  animation: orb-swing 0.6s ease;
  transform-origin: center bottom;
}
.item {
  position: absolute;
  z-index: 3;
}

.help-btn {
  z-index: 5;
}

.spider-1.escape {
  animation: spider-jump 0.6s ease;
}
/* паук за предметом */
.spider-1 {
  position: absolute;
  top: 34vw;
  left: 34.5vw;
  width: 5.104vw;
  opacity: 0;
  z-index: 2;
  transition: opacity 0.5s ease;
}

.item-1 {
  z-index: 3;
}

.item-1.hidden {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}

.spider-1.show {
  opacity: 1;
}

.item-1 {
  top: 28.5vw;
  left: 34vw;
  width: 6.719vw;
}
.item-2 {
  top: 39.9vw;
  left: 23.4vw;
  width: 8.438vw;
}
.item-3 {
  top: 40.7vw;
  left: 52.5vw;
  width: 8.646vw;
}

.item-3 {
  transition: filter 0.4s ease;
}
.item-3.swing {
  animation: orb-swing 0.6s ease;
  transform-origin: center bottom;
  filter: hue-rotate(0deg) saturate(1.1) brightness(1.1);
}
.item-4 {
  top: 53vw;
  left: 10vw;
  width: 17.292vw;
}

.item-4.swing {
  animation: orb-swing 0.6s ease;
  transform-origin: center bottom;
}
.sparkle {
  position: absolute;
  width: 2vw;
  height: 2vw;
  background: url('../images/star-17.png') no-repeat center / contain;
  pointer-events: none;
  z-index: 6;
  animation: sparkle-pop 1s ease forwards;
}

.item-5 {
  top: 52.9vw;
  left: 51vw;
  width: 7vw;
}
.item-books {
  top: 43.4vw;
  right: 10.2vw;
  width: 11.771vw;
}
.item-book-1 {
  bottom: 19.3vw;
  left: 28vw;
  width: 4.635vw;
}
.item-book-2 {
  top: 40vw;
  right: 22vw;
  width: 4.323vw;
}

.stone-5 {
  position: absolute;
  top: 35vw;
  left: 70vw;
  width: 20vw;
  --glow: #ffffff;
}

.stone-6 {
  position: absolute;
  top: 55.5vw;
  left: 22vw;
  width: 8.6vw;
  --glow: #47e8fe;
}

.stone-5,
.stone-6 {
  animation: stone-glow 3.5s ease-in-out infinite;
}

.found-slow {
  opacity: 0 !important;
  filter: blur(6px);
  transform: scale(0.9);
  pointer-events: none;
  animation: none !important;
  transition:
    opacity 1.6s ease,
    filter 1.6s ease,
    transform 1.6s ease;
}
.section-4 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 64.323vw;
  background-image: url('../images/background-4.png');
  background-size: cover;
  background-position: center;
  display: flex;
}

.circles {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

.circle {
  position: absolute;
  height: auto;
  animation: circle-float 8s ease-in-out infinite;
}

.c1 {
  width: 3.993vw;
  top: 14vw;
  left: 10vw;
  animation-duration: 4s;
}
.c2 {
  width: 2.371vw;
  top: 23vw;
  left: 20vw;
  animation-duration: 4s;
}
.c3 {
  width: 1.622vw;
  top: 35vw;
  left: 14vw;
  animation-duration: 5s;
}
.c4 {
  width: 2.454vw;
  top: 43vw;
  left: 17.6vw;
  animation-duration: 6s;
}
.c5 {
  width: 2.454vw;
  top: 43.3vw;
  right: 18vw;
  animation-duration: 4s;
}
.c6 {
  width: 1.622vw;
  top: 35vw;
  right: 16vw;
  animation-duration: 6s;
}
.c7 {
  width: 2.371vw;
  top: 23vw;
  right: 20.5vw;
  animation-duration: 6s;
}
.c8 {
  width: 3.993vw;
  top: 13.2vw;
  right: 10vw;
  animation-duration: 4s;
}
.c9 {
  width: 5.833vw;
  top: 9vw;
  right: 48vw;
  animation-duration: 6s;
}
.c10 {
  width: 5.833vw;
  bottom: 13vw;
  left: 47vw;
  animation-duration: 6s;
}

.puzzle {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.piece {
  position: absolute;
  cursor: grab;
  user-select: none;
  touch-action: none;
  will-change: transform;
}

.piece.locked {
  cursor: default;
  pointer-events: none;
}

/* размеры кусочков */
.p1 {
  width: 19.806vw;
}
.p2 {
  width: 15.469vw;
}
.p3 {
  width: 16.979vw;
}
.p4 {
  width: 22.396vw;
}

/* цельный камень */
.stone-full {
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
  width: 29.063vw;
  opacity: 0;
  transition: opacity 0.4s ease;
  pointer-events: none;
}

.piece {
  position: absolute;
  cursor: grab;
  user-select: none;
  touch-action: none;
  will-change: transform;
}

.piece img,
img.piece {
  -webkit-user-drag: none;
  user-select: none;
}
.stone-full.visible {
  opacity: 1;
  animation:
    stone-float 4s ease-in-out infinite,
    stone-glow 2.5s ease-in-out infinite;
}

.stone-full.visible {
  opacity: 1;
  animation: stone-float 4s ease-in-out infinite;
  filter: drop-shadow(0 0 45px rgb(255, 209, 251));
}

.section-4 .help-btn {
  bottom: 16vw;
}
/* секция 5  */
.section-5 {
  position: relative;
  overflow: hidden;
  height: 71.771vw;
  width: 100%;
  background-image: url('../images/background-05.png');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}

.boxes {
  margin-top: 16vw;
  display: grid;
  grid-template-columns: repeat(3, 21.393vw);
  gap: 11vw;
  padding: 1vw 6vw;
}

.box-card {
  position: relative;
  width: 23.073vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box-frame {
  width: 100%;
  height: auto;
  display: block;
}

.box-stone {
  position: absolute;
  transform: translate(-50%, -50%);
}

.stone-8 {
  width: 11.146vw;
  left: 52%;
  top: 39%;
}

.stone-9 {
  width: 8.787vw;
  left: 50%;
  top: 36%;
}

.stone-10 {
  width: 13vw;
  left: 51%;
  top: 37%;
}

.box-controls {
  margin-top: 1.3vw;
  display: flex;
  gap: 1vw;
}

.arrow-btn {
  width: 5vw;
  height: 4.635vw;
  border: 0.313vw solid #fff;
  border-radius: 0.8vw;
  background: #3326a6;
  display: grid;
  place-items: center;
  cursor: pointer;
  padding: 0;
  transition:
    background-color 0.15s ease,
    border-color 0.15s ease;
}

.arrow-btn:active {
  background: #5d50d5;
}
.arrow-btn img {
  width: 2.2vw;
  height: auto;
  display: block;
}

.box-stone {
  position: absolute;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: transform 0.2s ease;
}
.box-stone.glow-8 {
  filter: drop-shadow(0 0 18px rgba(120, 255, 255, 0.9))
    drop-shadow(0 0 35px rgba(120, 255, 255, 0.6));
}

.box-stone.glow-10 {
  filter: drop-shadow(0 0 18px rgba(255, 170, 255, 0.9))
    drop-shadow(0 0 35px rgba(255, 170, 255, 0.6));
}
.final-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 50;
}

.final-overlay.active {
  display: flex;
}

.final-modal {
  position: relative;
  width: 65vw;
  height: auto;
}

.final-bg {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 2vw;
}

.final-text {
  position: absolute;
  top: 26%;
  left: 8%;
  width: 40%;
  font-size: 1.406vw;
  color: #19138e;
  font-weight: 600;
  line-height: 1.2;
  font-family: 'Unbounded';
}
/* секция 6  */
.section-6 {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 20.365vw;
  background-image: url('../images/footer.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 0vw 2vw 13vw 4vw;
}

.section-6__content {
  display: flex;
  align-items: center;
  gap: 7vw;
}

.section-6__content p {
  margin: 0;
  font-family: 'Gabin';
  font-size: 3.281vw;
  color: #e9e2ff;
  text-shadow: 0 0 6px rgba(233, 226, 255, 0.5);
  animation: footer-glow 3s ease-in-out infinite;
}

.section-6__sep {
  height: 2.76vw;
  width: auto;
  filter: drop-shadow(0 0 6px rgba(233, 226, 255, 0.7));
  animation: footer-glow-img 3s ease-in-out infinite;
}
